<div class="main">
  <div class="container pt-5">
    <div id="input" class="shadow bg-dark-subtle">
      <input [(ngModel)]="cityName" id="bar" name="c1" placeholder="Search Your City...." type="text">
      <button id="button" class="" (click)="getWeatherDetails()">
        <i class="fa-solid fa-magnifying-glass text-dark"></i>
      </button>
    </div>

    <!-- Display weather data -->
    <div class="display">
      <div class="card mt-3 shadow pb-2">
        <div class="card-body">
          <div class="d-flex justify-content-between px-5">
            <h1>{{ weatherData.name }}<span class="font-weight-normal" style="font-size: 15px;"> &nbsp; {{
                weatherData.sys.country }}</span></h1>
            <div>
              <p class="pt-2 m-0" id="city">{{ currentDate }}, {{ currentTime }}</p>
            </div>

          </div>
          <hr>
          <div class="d-flex justify-content-between">
            <div class="ms-5">
              <h1 class="card-subtitle mt-4 mb-2 text-start fw-bold text-light ">{{kelvinToCelsius (weatherData.main.temp) | number:'1.0-0' }}°C</h1>
              <p class="text-start m-0">Minimum temperature: {{kelvinToCelsius (weatherData.main.temp_min) | number:'1.0-0' }}°C</p>
              <p class="text-start m-0">Maximum temperature: {{kelvinToCelsius (weatherData.main.temp_max) | number:'1.0-0' }}°C</p>

            </div>
            <div class="cloud w-25">
              <img
                src="https://i.postimg.cc/SKcpN5fW/pngtree-cloud-icon-for-your-project-png-image-4817962-removebg-preview.png"
                alt="" class="img-fluid w-50" id="clouds">
              <p id="clouds" class="m-0 ps-5">{{ weatherData.weather[0].description }}</p>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-evenly pt-5 text-light" id="cont">
            <div class="w-25 py-2 px-3 rounded" id="box">
              <p><span><i class="fa-solid fa-water"></i></span> &nbsp;Humidity</p>
              <p>{{ weatherData.main.humidity }}%</p>
            </div>
            <div class="w-25 py-2 px-3 rounded" id="box">
              <p><span><i class="fa-solid fa-wind"></i></span> &nbsp;Wind</p>
              <p>{{ weatherData.wind.speed }} km/hr</p>
            </div>
            <div class="w-25 py-2 px-3 rounded" id="box">
              <p><span><i class="fa-solid fa-square-parking"></i></span> &nbsp;Pressure</p>
              <p>{{ weatherData.main.pressure }} hPa</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>